<div class="text-center">
    <h2 class="display-4">Products Catalog</h2>
    <img src="~/images/catalogo.jpg" class="rounded-circle"
         height="300" width="300" asp-append-version="true" />
</div>